@charset "utf-8";
/* CSS Document */

html, body {
    height: 100%
}

html {
    background-color: #FFF
}

body {
    background: url(/img/bg_body_3.gif) scroll center top repeat-x #FFF;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 13px;
    color: #444;
    /*min-height: 100%; height: auto !important;*/
    height: 80%;
    position: relative;
    line-height: 1.5
}

a {
    color: #39F;
}

h1 {
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
    clear: left
}

h2 {
    font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    clear: left
}

strong {
    font-weight: bold
}

p {
    padding-bottom: 15px
}

input[type=text], input[type=password], select, textarea {
    border: 1px solid #999
}

.clear {
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    clear: both
}

div.error {
    color: #F00
}

a.pseudo {
    text-decoration: none;
    border-bottom: 1px dashed
}

.small {
    font-size: 11px
}

.green {
    color: #0C0
}

.red {
    color: #F33
}

div#container {
    width: 960px;
    margin: 0 auto;
    min-height: 100%;
}

div#header {
    height: 68px;
    position: relative
}

div#content {
    width: 658px;
    float: left;
    border: 1px solid #eeeeee;
    border-top: none;
    margin-top: 40px;
}

div#content_wrapper {
    margin: 7px 7px 25px 7px;
}

div#sidebar {
    width: 280px;
    float: right;
    font-size: 11px
}

div#wrapper {
    padding-bottom: 100px
}

div#footer {
    clear: both;
    width: 960px;
    border-top: 1px solid #999;
    position: inherit;
    bottom: 0;
    height: 50px;
}

div#footer p {
    padding: 10px 0
}

div#header div#logo {
    font-size: 30px;
    color: #FDFDFD;
    text-shadow: 1px 1px 0 #333;
    font-weight: bold;
    position: absolute;
    top: 20px
}

div#header div#logo span {
    font-size: 10px;
    font-weight: normal
}

div#menu {
    height: 52px;
    line-height: 24px;
    padding-top: 12px;
    font-size: 15px
}

div#menu ul {
}

div#menu ul li {
    float: left;
    margin-right: 10px
}

div#menu ul li a {
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFF;
    display: block;
    float: left;
    height: 31px
}

div#menu ul li span.r {
    padding: 0 10px;
}

div#menu ul li.curr a, div#menu ul li:hover a {
    background: url(/img/menu_center.png) scroll no-repeat center top;
    color: #EEE;
    text-shadow: 0 1px 0 #333
}

div#menu ul li.curr span, div#menu ul li:hover span {
    float: left;
    display: block;
    height: 31px
}

div#menu ul li.curr span.l, div#menu ul li:hover span.l {
    background: url(/img/menu_left.png) scroll left top no-repeat
}

div#menu ul li.curr span.r, div#menu ul li:hover span.r {
    background: url(/img/menu_right.png) scroll right top no-repeat;
}

div#menu a.balance, div#menu a.payment, div#menu a.posts {
    display: block;
    float: right;
    font-size: 12px;
    margin-right: 20px;
    text-decoration: none
}

div#menu a.balance {
    color: #000;
    background: url(/img/icons2/balance.png) center left no-repeat;
    padding-left: 20px
}

div#menu a.payment {
    background: url(/img/icons2/money_add.png) center left no-repeat;
    padding-left: 20px
}

div#menu a.posts {
    background: url(/img/icons2/blogs.png) center left no-repeat;
    padding-left: 20px;
    color: #000
}

table.data {
    width: 100%;
    margin: 20px 0
}

table.data tr {
}

table.data tr td {
    padding: 7px 12px;
    border-bottom: 1px dashed #BBB;
}

table.data tr.theader td {
    font-size: 12px;
    color: #BBB;
}

table.data table.sub {
    width: 100%
}

table.data table.sub td {
    border: none;
    font-size: 12px
}

div.post_tasks {
    display: none
}

div.post_tasks table {
    font-size: 11px;
    margin: 10px 15px
}

div.post_tasks table tr td {
    border: none;
    padding: 2px 5px
}

table.form td {
    padding: 7px 12px;
}

table.form input {
    font-size: 20px
}

div.paginator {
    text-align: center;
    padding: 40px 0
}

div.paginator a {
    padding: 3px 7px;
    background-color: #EEE;
    text-decoration: none;
    margin: 0 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

div.paginator a:hover {
    background-color: #DDD
}

div.paginator a.curr {
    background-color: #39F;
    color: #FFF
}

ul.tabs {
    margin: 20px 0;
    font-size: 11px
}

ul.tabs li {
    display: inline
}

ul.tabs a {
    padding: 2px 5px;
    background-color: #EEE;
    text-decoration: none;
    margin: 0 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #666
}

ul.tabs a:hover {
    background-color: #DDD
}

ul.tabs a.curr {
    background-color: #39F;
    color: #FFF
}

/* CONTENT */

div#content h1 {
    background: #EEEEEE;
    font-size: 22px;
    padding: 0 10px;
    margin-top: -40px;
    height: 40px;
    line-height: 40px;
    width: 640px;
    margin-left: -1px;
    overflow: hidden;
    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
}

/* POSTS */

/* PROJECTS */
div#content a.add_text {
    display: block;
    float: left;
    line-height: 16px;
    margin: 0 6px 0 0
}

div#content a.add_icon {
    display: block;
    float: left;
    text-indent: -999px;
    overflow: hidden;
    background: url(/img/icons2/add.png) left top;
    height: 16px;
    width: 16px
}

div#content div.grid_toolbar {
    width: 644px;
    background: url(/img/grid_toolbar_bg.gif) left top repeat-x;
    height: 30px;
    line-height: 30px;
    border: 1px solid #AAA;
    font-size: 11px;
    overflow: hidden;
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

div#content div.grid_toolbar div.actions {
    float: left;
    text-align: left;
    margin-left: 8px
}

div#content div.grid_toolbar div.actions a {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    margin: 7px 8px 0 0
}

div#content div.grid_toolbar div.paginate {
    float: right;
    text-align: right;
    margin-right: 10px
}

div#content div.grid_toolbar div.paginate a {
    background: url(/img/grid_toolbar_paginator_bg.gif) left top repeat-x;
    padding: 1px 5px;
    text-decoration: none;
    outline: 1px solid #DDD;
    color: #555
}

div#content div.grid_toolbar div.paginate b {
    background: url(/img/grid_toolbar_paginator_bg.gif) left top repeat-x;
    padding: 1px 5px;
    text-decoration: none;
    outline: 1px solid #AAA;
    color: #555
}

div#content table.grid {
    width: 646px;
    font-size: 11px;
    border: none;
}

div#content table.grid thead tr {
    line-height: 30px;
    color: #555
}

div#content table.grid thead tr th {
    background: url(/img/grid_theader_bg.gif);
    border: 1px solid #d3d3d3;
}

div#content table.grid thead tr th div {
    margin-left: 5px;
}

div#content table.grid tr {
    line-height: 25px
}

div#content table.grid tr.odd {
    background-color: #D7E7FF
}

div#content table.grid tr.even {
    background-color: #F0F3FF
}

div#content table.grid tr td {
    color: #20201E
}

div#content table.grid tr td a.derivate {
    display: block;
    text-align: center
}

div#content table.grid tr td a.derivate img {
    height: 14px;
    width: 14px
}

div#content table.grid tr td div {
    padding: 0 5px
}

div#content table.grid tr td div.c {
    padding: 0;
    text-align: center
}

div#content table.grid tr td div.icons {
    text-align: center
}

div#content table.grid tr td div.icons a {
    margin: 3px 10px 0 0;
    display: block;
    float: left
}

div#content table.grid table.sub {
    width: 100%;
    margin-left: 30px
}

div#content table.grid table.sub tr td {
    line-height: 26px;
    padding: 0 10px
}

div#content table.grid table.sub tr td.icon_url img {
    float: left;
    margin: 5px 5px 0 0
}

/*LOGIN*/

form.add {
    padding: 20px 10px;
    background-color: #EEE;
    float: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

form.add td {
    padding: 7px 12px
}

form.add input, select {
    font-size: 20px
}

form.add input[type=text], input[type=password], textarea, select {
    width: 500px
}

form.add textarea {
    height: 300px
}

form.login {
    padding: 20px 10px;
    background-color: #EEE;
    float: left;
    width: 624px;
    margin-bottom: 25px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

form.login table {
    width: 100%
}

form.login td {
    padding: 7px 12px
}

form.login input, select {
    font-size: 20px;
}

form.login input[type=text], input[type=password], select {
    width: 100%;
    width: 100%
}

form.login tr td a.forgot_password {
    background: url(/img/icons2/change_password.png) center left no-repeat;
    line-height: 20px;
    text-decoration: none;
    padding-left: 25px
}

/* SIDEBAR */

div#sidebar div.s1 {
    padding: 10px;
    background-color: #EEE;
    margin-bottom: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}

div#sidebar div.s1 h3 {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 #EEE
}

div#sidebar div.s1 a.add_text {
    display: block;
    float: left;
    line-height: 16px;
    margin: 0 6px 0 0
}

div#sidebar div.s1 a.add_icon {
    display: block;
    float: left;
    text-indent: -999px;
    overflow: hidden;
    background: url(/img/icons2/add.png) left top;
    height: 16px;
    width: 16px
}

div#sidebar div.s2 {
    border: 1px solid #EEE;
    margin: 40px 0 20px 0
}

div#sidebar div.s2 h3 {
    background: #EEEEEE;
    font-size: 18px;
    padding: 0 10px;
    margin-top: -40px;
    height: 40px;
    line-height: 40px;
    width: 260px;
    margin-left: -1px;
    overflow: hidden;
    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
}

div#sidebar div.s2 div.s2_inner {
    margin: 7px
}

div#sidebar div.s2 div.s2_inner a.add_blog_link {
    background: url(/img/icons2/add.png) left center no-repeat;
    padding: 2px 0 2px 20px;
    margin-bottom: 20px
}

table.filter_posts {
    width: 100%
}

table.filter_posts td {
    padding: 3px 4px
}

table.filter_posts select {
    width: 100%
}

table.filter_posts td.button {
    text-align: center
}

table.blog_list {
    width: 100%;
    margin: 20px 0
}

table.blog_list tr:hover {
    background-color: #CCC
}

table.blog_list tr td {
    padding: 1px 5px
}

table.blog_list tr td.title img {
    float: left;
    margin: 1px 10px 0 0
}

table.blog_list tr td.icons {
    width: 50px;
    text-align: center
}

table.blog_list tr td.icons a {
    margin: 0 5px;
}

table.blog_list tr td.icons a img {
    margin-top: 3px
}

/* CONTENT  */

div#content_wrapper p {
    padding-bottom: 15px
}

div#content_wrapper ol, div#content_wrapper ol ul {
    padding: 0 0 15px 25px
}

div.content {
    /*height: 600px;*/
    height: 100%;

}

.table_subcategory {
    background: #fff;
    border: 1px solid #013d79;
    table-layout: fixed;
    /*width: 100%;*/
}

.table_subcategory td, th {
    border: 1px solid #013d79;
    padding: 5px;
}

.table_subcategory .number_colum {
    width: 40px;
}

.table_subcategory .name_subcategory {
    width: 150px;
}

.table_content_subcategory {
    width: 100%;
}
.table_content_subcategory th,td{
    text-align: center;
    border: 1px solid #013d79;
    padding: 5px;
}

.table_content_subcategory th.th_1 {
  width:28px;
}

.table_content_subcategory th.th_2 {
    width:47px;
}

.table_content_subcategory th.th_3 {
    width:41px;
}

.table_content_subcategory th.th_4 {
    width:227px;
}

.table_content_subcategory th.th_5 {
    width:39px;
}

.table_content_subcategory th.th_6 {
    width:39px;
}

.table_content_subcategory th.th_7 {
    width:39px;
}

.table_content_subcategory th.th_8 {
    width:97px;
}

.table_content_subcategory th.th_9 {
    width:97px;
}

.table_content_subcategory th.th_10 {
    width:136px;
}
.bread_crumb{
    padding: 5px;
}

.rigth{
    float:right;
}
