<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Тестовые задания</title>
		<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/script/jquery-1.8.0.js"></script>
<script type="text/javascript" 	src="/script/jquery-ui-1.8.11/ui/jquery-ui.js"></script>
<script src="/script/jquery-latest.js"></script>
    </head>
    <body class="body">
    <>
