<div id="header">
    <div id="logo">
        Информационная таблица спортивных игр
    </div>
</div>
<div id="menu">
    <ul id="nav1">
        <li><a href="#1">Пункт 1</a>
        <li><a href="#2">Пункт 2</a>
        <li><a href="#3">Пункт 3</a>
        <li><a href="#4">Пункт 4</a>
    </ul>
</div>