{include file="$tpl_dir/header.tpl"}
<div class="content">
    {$index}
    <form action="/adminka/index" method="post">
        Текущий коеффициент вычитаемого равен {$difference} <br/>
        Поле для ввода вычитаемого коефициента, разделитель точка (Пример: 0.04): <input name="difference" type="text"/><input value="Сохранить" type="submit"/>
    </form>
</div>
{include file="$tpl_dir/footer.tpl"}