Подкатегория
<table class="table_content_subcategory">
    <tr>
        <th class='th_1'>№</th>
        <th class='th_2'>Дата</th>
        <th class='th_3'>Время</th>
        <th class='th_4'>Название события</th>
        <th class='th_5'>1</th>
        <th class='th_6'>Х</th>
        <th class='th_7'>2</th>
        <th class='th_8'>Фора</th>
        <th class='th_9'>Тотул</th>
        <th class='th_10'>Роспись</th>
    </tr>
    {foreach from=$array_content_subcategory item=one_content_subcategory}
        <tr>
            <td class="td_1 ">{$one_content_subcategory} </td>
            <td class="td_2 ">{$one_content_subcategory}</td>
            <td class="td_3 ">{$one_content_subcategory}</td>
            <td class="td_4 ">{$one_content_subcategory}</td>
            <td class="td_5 ">{$one_content_subcategory}</td>
            <td class="td_6 ">{$one_content_subcategory}</td>
            <td class="td_7 ">{$one_content_subcategory}</td>
            <td class="td_8 ">{$one_content_subcategory}</td>
            <td class="td_9 ">{$one_content_subcategory}</td>
            <td class="td_10 ">{$one_content_subcategory}</td>
        </tr>
    {/foreach}
</table>